 #e1{
border-radius: 30%;
position: absolute;
top:750px;
left:55px;
}#f1{
border-radius: 30%;
position: absolute;
top:750px;
left:400px;
}#g1{
border-radius: 30%;
position: absolute;
top:750px;
left:700px;
}#h1{
border-radius: 30%;
position: absolute;
top:750px;
left:1000px;
}#i1{
border-radius: 30%;
position: absolute;
top:750px;
left:1300px;
}#j1{
border-radius: 30%;
position: absolute;
top:1050px;
left:50px;
}
    #K1{
border-radius:30%;
position: absolute;
top:1050px;
left:1300px;
}#L1{
border-radius: 30%;
position: absolute;
top:1050px;
left:400px;
}#M1{
border-radius: 30%;
position: absolute;
top:1050px;
left:700px;
}#N1{
border-radius:30%;
position: absolute;
top:1050px;
left:1000px;
}
#ze1{
position: absolute;
top:950px;
left:35px;

}
#be1{
position: absolute;
top:1250px;
left:1275px;

}
#ce1{
position: absolute;
top:950px;
left:375px;

}#de1{
position: absolute;
top:950px;
left:675px;

}#ee1{
position: absolute;
top:950px;
left:975px;

}#fe1{
position: absolute;
top:950px;
left:1275px;

}#ge1{
position: absolute;
top:1250px;
left:35px;

}#he1{
position: absolute;
top:1250px;
left:375px;

}#ie1{
position: absolute;
top:1250px;
left:675px;

}#je1{
position: absolute;
top:1250px;
left:975px;

}

 #e2{
border-radius: 30%;
position: absolute;
top:1350px;
left:55px;
}#f2{
border-radius: 30%;
position: absolute;
top:1350px;
left:400px;
}#g2{
border-radius: 30%;
position: absolute;
top:1350px;
left:700px;
}#h2{
border-radius: 30%;
position: absolute;
top:1350px;
left:1000px;
}#i2{
border-radius: 30%;
position: absolute;
top:1350px;
left:1300px;
}#j2{
border-radius: 30%;
position: absolute;
top:1650px;
left:50px;
}
    #K2{
border-radius:30%;
position: absolute;
top:1650px;
left:1300px;
}#L2{
border-radius: 30%;
position: absolute;
top:1650px;
left:400px;
}#M2{
border-radius: 30%;
position: absolute;
top:1650px;
left:700px;
}#N2{
border-radius:30%;
position: absolute;
top:1650px;
left:1000px;
}
#ze2{
position: absolute;
top:1550px;
left:35px;

}
#be2{
position: absolute;
top:1850px;
left:1275px;

}
#ce2{
position: absolute;
top:1550px;
left:375px;

}#de2{
position: absolute;
top:1550px;
left:675px;

}#ee2{
position: absolute;
top:1550px;
left:975px;

}#fe2{
position: absolute;
top:1550px;
left:1275px;

}#ge2{
position: absolute;
top:1850px;
left:35px;

}#he2{
position: absolute;
top:1850px;
left:375px;

}#ie2{
position: absolute;
top:1850px;
left:675px;

}#je2{
position: absolute;
top:1850px;
left:975px;

}

 #e3{
border-radius: 30%;
position: absolute;
top:1950px;
left:55px;
}#f3{
border-radius: 30%;
position: absolute;
top:1950px;
left:400px;
}#g3{
border-radius: 30%;
position: absolute;
top:1950px;
left:700px;
}#h3{
border-radius: 30%;
position: absolute;
top:1950px;
left:1000px;
}#i3{
border-radius: 30%;
position: absolute;
top:1950px;
left:1300px;
}#j3{
border-radius: 30%;
position: absolute;
top:2250px;
left:50px;
}
    #K3{
border-radius:30%;
position: absolute;
top:2250px;
left:1300px;
}#L3{
border-radius: 30%;
position: absolute;
top:2250px;
left:400px;
}#M3{
border-radius: 30%;
position: absolute;
top:2250px;
left:700px;
}#N3{
border-radius:30%;
position: absolute;
top:2250px;
left:1000px;
}
#ze3{
position: absolute;
top:2150px;
left:35px;

}
#be3{
position: absolute;
top:2450px;
left:1275px;

}
#ce3{
position: absolute;
top:2150px;
left:375px;

}#de3{
position: absolute;
top:2150px;
left:675px;

}#ee3{
position: absolute;
top:2150px;
left:975px;

}#fe3{
position: absolute;
top:2150px;
left:1275px;

}#ge3{
position: absolute;
top:2450px;
left:35px;

}#he3{
position: absolute;
top:2450px;
left:375px;

}#ie3{
position: absolute;
top:2450px;
left:675px;

}#je3{
position: absolute;
top:2450px;
left:975px;

}


 #e4{
border-radius: 30%;
position: absolute;
top:2550px;
left:55px;
}#f4{
border-radius: 30%;
position: absolute;
top:2550px;
left:400px;
}#g4{
border-radius: 30%;
position: absolute;
top:2550px;
left:700px;
}#h4{
border-radius: 30%;
position: absolute;
top:2550px;
left:1000px;
}#i4{
border-radius: 30%;
position: absolute;
top:2550px;
left:1300px;
}#j4{
border-radius: 30%;
position: absolute;
top:2850px;
left:50px;
}
    #K4{
border-radius:30%;
position: absolute;
top:2850px;
left:1300px;
}#L4{
border-radius: 30%;
position: absolute;
top:2850px;
left:400px;
}#M4{
border-radius: 30%;
position: absolute;
top:2850px;
left:700px;
}#N4{
border-radius:30%;
position: absolute;
top:2850px;
left:1000px;
}
#ze4{
position: absolute;
top:2750px;
left:35px;

}
#be4{
position: absolute;
top:3050px;
left:1275px;

}
#ce4{
position: absolute;
top:2750px;
left:375px;

}#de4{
position: absolute;
top:2750px;
left:675px;

}#ee4{
position: absolute;
top:2750px;
left:975px;

}#fe4{
position: absolute;
top:2750px;
left:1275px;

}#ge4{
position: absolute;
top:3050px;
left:35px;

}#he4{
position: absolute;
top:3050px;
left:375px;

}#ie4{
position: absolute;
top:3050px;
left:675px;

}#je4{
position: absolute;
top:3050px;
left:975px;

}



 #e5{
border-radius: 30%;
position: absolute;
top:3150px;
left:55px;
}#f5{
border-radius: 30%;
position: absolute;
top:3150px;
left:400px;
}#g5{
border-radius: 30%;
position: absolute;
top:3150px;
left:700px;
}#h5{
border-radius: 30%;
position: absolute;
top:3150px;
left:1000px;
}#i5{
border-radius: 30%;
position: absolute;
top:3150px;
left:1300px;
}#j5{
border-radius: 30%;
position: absolute;
top:3450px;
left:50px;
}
    #K5{
border-radius:30%;
position: absolute;
top:3450px;
left:1300px;
}#L5{
border-radius: 30%;
position: absolute;
top:3450px;
left:400px;
}#M5{
border-radius: 30%;
position: absolute;
top:3450px;
left:700px;
}#N5{
border-radius:30%;
position: absolute;
top:3450px;
left:1000px;
}
#ze5{
position: absolute;
top:3350px;
left:35px;

}
#be5{
position: absolute;
top:3650px;
left:1275px;

}
#ce5{
position: absolute;
top:3350px;
left:375px;

}#de5{
position: absolute;
top:3350px;
left:675px;

}#ee5{
position: absolute;
top:3350px;
left:975px;

}#fe5{
position: absolute;
top:3350px;
left:1275px;

}#ge5{
position: absolute;
top:3650px;
left:35px;

}#he5{
position: absolute;
top:3650px;
left:375px;

}#ie5{
position: absolute;
top:3650px;
left:675px;

}#je5{
position: absolute;
top:3650px;
left:975px;

}


 #e6{
border-radius: 30%;
position: absolute;
top:3750px;
left:55px;
}#f6{
border-radius: 30%;
position: absolute;
top:3750px;
left:400px;
}#g6{
border-radius: 30%;
position: absolute;
top:3750px;
left:700px;
}#h6{
border-radius: 30%;
position: absolute;
top:3750px;
left:1000px;
}#i6{
border-radius: 30%;
position: absolute;
top:3750px;
left:1300px;
}#j6{
border-radius: 30%;
position: absolute;
top:4050px;
left:50px;
}
    #K6{
border-radius:30%;
position: absolute;
top:4050px;
left:1300px;
}#L6{
border-radius: 30%;
position: absolute;
top:4050px;
left:400px;
}#M6{
border-radius: 30%;
position: absolute;
top:4050px;
left:700px;
}#N6{
border-radius:30%;
position: absolute;
top:4050px;
left:1000px;
}
#ze6{
position: absolute;
top:3050px;
left:35px;

}
#be6{
position: absolute;
top:4250px;
left:1275px;

}
#ce6{
position: absolute;
top:3950px;
left:375px;

}#de6{
position: absolute;
top:3950px;
left:675px;

}#ee6{
position: absolute;
top:3950px;
left:975px;

}#fe6{
position: absolute;
top:3950px;
left:1275px;

}#ge6{
position: absolute;
top:4250px;
left:35px;

}#he6{
position: absolute;
top:4250px;
left:375px;

}#ie6{
position: absolute;
top:4250px;
left:675px;

}#je6{
position: absolute;
top:4250px;
left:975px;

}